.button {
    font: inherit;
    border: 2px solid #E3DFFD;
    background: white;
    color: black;
    padding: 0.25rem 1rem;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .button:hover,
  .button:active {
    background: #E3DFFD;
    border-color: #E3DFFD;
  }
  
  .button:focus {
    outline: none;
  }